.PrimaryButton {
    color: var(--input-placeholder);
    font-family: "Montserrat", sans-serif;
    font-size: 1.25rem; /* 20px */
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    background-color: var(--bg-primary);
    padding: 16px 32px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.PrimaryButton:hover {
    background-color: var(--bg-secondary);
    color: #fff;
}

.PrimaryButton:focus {
    outline: none;
}

.PrimaryButton:active {
    background-color: var(--bg-primary);
    transform: scale(0.98); 
}

:global(.active).PrimaryButton {
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

