.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modalBox {
    background-color: rgba(13, 80, 255, 0.90); 
    color: var(--input-placeholder);
    border-radius: 10px;
    padding: 24px 24px 20px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 16px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.closePrimaryButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    line-height: 0;
}

.text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}

