.row {
display: flex;
align-items: center;
gap: 12px;
margin: 16px 0;
}

.current {
font-size: 64px;
font-weight: 700;
color: var(--text-primary);
margin-right: 32px;
}

.old {
font-size: 40px;
font-weight: 500;
color: var(--text-muted);
text-decoration: line-through;
margin-right: 24px;
position: relative;
top: 14px;
}

.tag {
background-color: var(--bg-primary);
color: var(--input-placeholder);
padding: 6px 12px;
border-radius: 6px;
font-size: 20px;
font-weight: 600;
position: relative;
top: -21px;
}
